.cards-slide-label {
  display: flex;
  color: var(--color-text-secondary);
  width: 80%;
  margin: 0 auto 20px;
  justify-content: space-between;
  align-content: baseline;
  overflow: auto;
}
.cards-slide-label .title {
  font-size: 2em;
  font-weight: 1000;
  border-bottom: 1px solid white;
}
.cards-slide-label .see-more {
  align-content: end;
  align-items: end;
  margin: auto 10px;
  text-decoration: underline;
  text-decoration-color: grey;
  color: grey;
}
.cards-slide-label .see-more:hover {
  font-weight: bolder;
  cursor: pointer;
  text-decoration-color: white;
}

.cards-slide-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
.cards-slide-container .arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 5%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  display: none;
  user-select: none;
}
.cards-slide-container .arrow:hover {
  font-weight: bold;
}
.cards-slide-container .arrow:active {
  font-weight: normal;
}
.cards-slide-container .arrow-right {
  right: 0;
  text-align: right;
  color: var(--color-text-primary);
  background-image: linear-gradient(to right, transparent 40%, var(--color-footer));
}
.cards-slide-container .arrow-left {
  left: 0;
  text-align: left;
  color: var(--color-text-primary);
  background-image: linear-gradient(to left, transparent, var(--color-footer));
}
.cards-slide-container .cards-container {
  position: relative;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 20vh;
  border-color: grey;
  padding: 10px 0;
  /* Container */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.cards-slide-container .cards-container::-webkit-scrollbar {
  height: 10px;
}
.cards-slide-container .cards-container::-webkit-scrollbar-track {
  background: var(--bg-color);
}
.cards-slide-container .cards-container::-webkit-scrollbar-thumb {
  background: var(--color-footer);
  border-radius: 5px;
}
.cards-slide-container .cards-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-blog);
}

.cards-container .spacer {
  scroll-snap-align: start;
}
.cards-container .spacer:first-child {
  margin-right: 20px;
}
.cards-container .spacer:last-child {
  margin-left: 20px;
}

.cards-container .card-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  flex-basis: calc(33.3333333333% - 10px);
  scroll-snap-align: start;
}

@media only screen and (max-width: 700px) {
  .arrow {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  .cards-slide-container .cards-container {
    overflow-x: hidden;
  }
  .cards-slide-container .card-item {
    flex-basis: calc(33.3333333333% - 20px);
  }
  .cards-slide-container .card-item:not(:last-child) {
    margin-right: 30px;
  }
  .cards-slide-container .arrow {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .cards-slide-container .cards-container {
    overflow-x: hidden;
  }
  .cards-slide-container .card-item {
    flex-basis: calc(20% - 30px);
  }
  .cards-slide-container .card-item:not(:last-child) {
    margin-right: 40px;
  }
  .cards-slide-container .arrow {
    display: block;
  }
}

/*# sourceMappingURL=slider.css.map */
