:root {
  --font-family: "Manrope", sans-serif;
  --primary: #116466;
  --primary-dark: #2C3531;
  --secondary-dark: #D9B08C;
  --secondary: #FFCB9A;
  --accent: #D1E8E2;
  --text-primary-color: #F1F1F1;
  --text-secondary-color: #AAA;
}

#nav {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  align-content: center;
  height: 7vh;
  margin-bottom: 2vh;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
#nav #logo {
  width: 5vw;
  margin-right: 2vw;
}
#nav #nav-links {
  flex: 1;
}
#nav #nav-links .nav-item-link {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: lighter;
  font-size: 16px;
  padding: 8px 16px;
  transition: color 0.4s;
}
#nav #nav-links .nav-item-link.active, #nav #nav-links .nav-item-link:hover {
  color: var(--text-primary-color);
}
#nav #nav-buttons button {
  color: var(--color-text-primary);
  border: none;
  font-size: 16px;
  font-weight: lighter;
  padding: 4px 16px;
  border-radius: 4px;
}
#nav #nav-buttons button:first-of-type {
  background: transparent;
}
#nav #nav-buttons button:last-of-type {
  background-color: var(--secondary-dark);
  margin-right: 2vw;
}

.card-item {
  background-color: color-mix(in srgb, var(--primary-dark), transparent 70%);
  position: relative;
  height: 100%;
  padding: 5px 5px;
  border-radius: 10px;
  margin-left: 1%;
  text-align: center;
  background-image: url("https://cdn.originpc.com/img/compare-all/gaming-desktops/genesis-7000-series-system-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition: all 0.2s ease-in-out;
}
.card-item:hover {
  transform: scale(1.015);
  box-shadow: 0 0 20px rgba(128, 128, 128, 0.44);
}
.card-item .actions {
  display: flex;
  flex-flow: column nowrap;
  justify-content: end;
  align-items: end;
}
.card-item .actions .icon {
  opacity: 0.8;
  font-size: 14px;
  user-select: none;
  margin-bottom: 5px;
  background-color: var(--secondary);
  color: white;
  padding: 5px;
  margin-right: 3px;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}
.card-item .actions .icon:hover {
  background-color: white;
  color: var(--secondary);
}
.card-item .header {
  position: absolute;
  background: linear-gradient(to bottom, transparent, var(--primary));
  width: 100%;
  height: 40%;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  left: 0;
  padding: 8px 10px 0;
  display: flex;
  font-size: 14px;
  align-items: center;
}
.card-item .header .title {
  color: var(--text-primary-color);
  font-weight: lighter;
  flex: 1;
  float: left;
  text-align: left;
}
.card-item .header .price {
  color: var(--text-secondary-color);
  float: right;
  padding-left: 5px;
  text-align: right;
}

.cards-slide-label {
  display: flex;
  color: var(--text-secondary-color);
  width: 80%;
  margin: 0 auto 20px;
  justify-content: space-between;
  align-content: baseline;
  overflow: auto;
}
.cards-slide-label .title {
  font-size: 2em;
  font-weight: 1000;
  border-bottom: 1px solid white;
  color: var(--text-primary-color);
}
.cards-slide-label .see-more {
  align-content: end;
  align-items: end;
  margin: auto 10px;
  text-decoration: underline;
  text-decoration-color: grey;
  color: var(--text-secondary-color);
}
.cards-slide-label .see-more:hover {
  font-weight: bolder;
  cursor: pointer;
  text-decoration-color: white;
}

.cards-slide-container {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
}
.cards-slide-container .arrow {
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 5%;
  padding: 10px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  display: none;
  user-select: none;
}
.cards-slide-container .arrow:hover {
  font-weight: bold;
}
.cards-slide-container .arrow:active {
  font-weight: normal;
}
.cards-slide-container .arrow-right {
  right: 0;
  text-align: right;
  color: var(--text-primary-color);
  background-image: linear-gradient(to right, transparent 40%, var(--primary));
}
.cards-slide-container .arrow-left {
  left: 0;
  text-align: left;
  color: var(--text-primary-color);
  background-image: linear-gradient(to left, transparent, var(--primary));
}
.cards-slide-container .cards-container {
  position: relative;
  display: flex;
  list-style: none;
  overflow-x: scroll;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  height: 20vh;
  border-color: grey;
  padding: 10px 0;
  /* Container */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.cards-slide-container .cards-container::-webkit-scrollbar {
  height: 10px;
}
.cards-slide-container .cards-container::-webkit-scrollbar-track {
  background: var(--primary);
}
.cards-slide-container .cards-container::-webkit-scrollbar-thumb {
  background: var(--secondary-dark);
  border-radius: 5px;
}
.cards-slide-container .cards-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

.cards-container .spacer {
  scroll-snap-align: start;
}
.cards-container .spacer:first-child {
  margin-right: 20px;
}
.cards-container .spacer:last-child {
  margin-left: 20px;
}

.cards-container .card-item {
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
  flex-basis: calc(33.3333333333% - 10px);
  scroll-snap-align: start;
}

@media only screen and (max-width: 700px) {
  .arrow {
    display: none;
  }
}
@media only screen and (min-width: 700px) {
  .cards-slide-container .cards-container {
    overflow-x: hidden;
  }
  .cards-slide-container .card-item {
    flex-basis: calc(33.3333333333% - 20px);
  }
  .cards-slide-container .card-item:not(:last-child) {
    margin-right: 30px;
  }
  .cards-slide-container .arrow {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .cards-slide-container .cards-container {
    overflow-x: hidden;
  }
  .cards-slide-container .card-item {
    flex-basis: calc(20% - 30px);
  }
  .cards-slide-container .card-item:not(:last-child) {
    margin-right: 40px;
  }
  .cards-slide-container .arrow {
    display: block;
  }
}
.products-grid-view {
  display: grid;
  width: 80%;
  margin: 100px auto;
  border: 1px solid var(--color-blog);
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  overflow: auto;
  grid-template-columns: auto auto auto auto;
}

.products-grid-view .card-item {
  height: 200px;
  margin: 20px 20px;
  border: 1px solid var(--color-footer);
  border-radius: 10px;
}
.products-grid-view .card-item .actions .icon {
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
  .products-grid-view {
    grid-template-columns: auto;
  }
}
@media only screen and (min-width: 700px) {
  .products-grid-view {
    grid-template-columns: auto auto;
  }
}
@media only screen and (min-width: 1200px) {
  .products-grid-view {
    grid-template-columns: auto auto auto auto;
  }
}
#login-modal .modal-content {
  background-color: var(--primary-dark);
  color: var(--text-primary-color);
}
#login-modal .modal-content .modal-header {
  border-color: rgba(99, 99, 99, 0.3);
  border-width: 1px;
}
#login-modal .modal-content .modal-header #close-button {
  color: var(--text-secondary-color);
  font-size: 26px;
  cursor: pointer;
  user-select: none;
}
#login-modal .modal-content .modal-body {
  padding: 40px;
}
#login-modal .modal-content .modal-body .body-header {
  display: flex;
  align-items: center;
  margin-bottom: 5%;
}
#login-modal .modal-content .modal-body .body-header #person-icon {
  display: inline-block;
  text-align: center;
  color: var(--primary);
  font-size: 2.2em;
  vertical-align: baseline;
  cursor: none;
  user-select: none;
  margin-right: 2%;
}
#login-modal .modal-content .modal-body .body-header #content-title {
  display: inline-block;
  font-size: 1.6em;
}
#login-modal .modal-content .modal-body form label {
  font-size: 0.9em;
  color: var(--text-primary-color);
}
#login-modal .modal-content .modal-body form .icon-text-field {
  position: relative;
}
#login-modal .modal-content .modal-body form .icon-text-field .text-field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: var(--text-secondary-color);
  font-size: 1.2em;
}
#login-modal .modal-content .modal-body form input[type=password], #login-modal .modal-content .modal-body form input[type=email] {
  background-color: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  color: var(--text-primary-color);
  font-size: 0.85em;
  border: 1px solid var(--primary);
  opacity: 0.65;
  transition: all 0.4s;
  padding-left: 35px;
}
#login-modal .modal-content .modal-body form input[type=password]:focus, #login-modal .modal-content .modal-body form input[type=email]:focus {
  opacity: 0.95;
  outline: none;
  box-shadow: none;
}
#login-modal .modal-content .modal-body form button[type=submit] {
  margin: 2% 0 10% 0;
  border: none;
  background-color: var(--secondary-dark);
}
#login-modal .modal-content .modal-body .medal-footer {
  display: flex;
  justify-content: center;
  font-size: 0.8em;
  color: var(--text-secondary-color);
}
#login-modal .modal-content .modal-body .medal-footer .switch-to-signup {
  color: var(--text-primary-color);
  cursor: pointer;
  user-select: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-family);
}

body {
  background: radial-gradient(circle at 3% 25%, var(--primary) 0%, var(--primary-dark) 25%);
  min-height: 100vh;
}

#carouselSpecialOffers {
  height: 55vh;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
#carouselSpecialOffers .carousel-inner {
  height: 100%;
}
#carouselSpecialOffers .carousel-inner .carousel-item {
  height: 100%;
}
#carouselSpecialOffers .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*# sourceMappingURL=main.css.map */
