
@mixin button-style {
  // Define button styles here
}



@mixin form-text-field {
    background-color: transparent;
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    color: var(--text-primary-color);
    font-size: 0.85em;
    border: 1px solid var(--primary);
    opacity: 0.65;
    transition: all 0.4s;
    &:focus {
      opacity: 0.95;
      outline: none;
      box-shadow: none;
    }
}