#nav {
  position: sticky;
  top: 0;
  padding: 8px 12px;
  display: flex;
  align-items: center;
  align-content: center;
  height: 7vh;
  margin-bottom: 2vh;
  transition: all 0.6s;
  background: transparent;
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  #logo {
    width: 5vw;
    margin-right: 2vw;
  }

  #nav-links{
    flex: 1;
    .nav-item-link{
      color: var(--text-primary-color);
      text-decoration: none;
      font-weight: lighter;
      font-size: 16px;
      padding: 8px 16px;
      transition: color 0.4s;
      &.active, &:hover {
        color: var(--text-primary-color);
      }
    }
  }

  #nav-buttons {
    button {
      color: var(--text-primary-color);
      border: none;
      font-size: 16px;
      font-weight: lighter;
      padding: 4px 16px;
      border-radius: 4px;
      &:first-of-type {
        background: transparent;
      }
      &:last-of-type {
        background-color: var(--secondary);
        margin-right: 2vw;

      }
    }
  }

  &.scrolled {
    background-color: var(--accent);
    box-shadow: 0 8px 40px var(--accent);
    border-radius: 0 0 8px 8px;
    transition: width 1s;
    border: none;

    width: 80%;
    margin: 0 auto;
    z-index: 10;
    button:last-of-type {
      background-color: var(--accent);

    }
  }


}