#nav {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  align-content: center;
  height: 7vh;
  margin-bottom: 2vh;
  border-bottom: 1px solid rgba(255,255,255, 0.5);
  #logo {
    width: 5vw;
    margin-right: 2vw;
  }
  #nav-links{
    flex: 1;
    .nav-item-link{
      color: var(--color-text-not-active);
      text-decoration: none;
      font-weight: lighter;
      font-size: 16px;
      padding: 8px 16px;
      transition: color 0.4s;
      &.active, &:hover {
        color: var(--color-text-primary);
      }
    }
  }
  #nav-buttons {
    button {
      color: var(--color-text-primary);
      border: none;
      font-size: 16px;
      font-weight: lighter;
      padding: 4px 16px;
      border-radius: 4px;
      &:first-of-type {
        background: transparent;
      }
      &:last-of-type {
        background-color: var(--color-button);
        margin-right: 2vw;

      }
    }
  }

}