:root {
  --font-family: 'Manrope', sans-serif;



  --primary: #116466;
  --primary-dark: #2C3531;
  --secondary-dark: #D9B08C;
  --secondary: #FFCB9A;
  --accent: #D1E8E2;
  --text-primary-color: #F1F1F1;
  --text-secondary-color: #AAA;

}

[data-theme="dark"] {

}

